*/**/.idea/
demo/android/.gradle
demo/ios/Frameworks
demo/ios/GetSocial/


demo/ios/getsocial-installer-script-*/
**/.gradle/
**/node_modules/
**/build/*

sdk7demo/getsocial-react-native-sdk/docs
sdk7demo/getsocial-react-native-sdk/eslint_result_demo.log
sdk7demo/ios/getsocial-sdk7-installer-script*

sdk7demo/getsocial-react-native-sdk/test_results.txt
