<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>aps-environment</key>
	<string>production</string>
	<key>com.apple.developer.associated-domains</key>
	<array>
		<string>applinks:getsocialinternalsdk6.gsc.im</string>
		<string>applinks:getsocialinternalsdk6-gsalt.gsc.im</string>
		<string>applinks:getsocialreactnativedemo.gsc.im</string>
		<string>applinks:getsocialreactnativedemo-gsalt.gsc.im</string>
	</array>
</dict>
</plist>
